<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
    <!-- dependent spring bean cfg -->
    <bean id="dt" class="java.util.Date"/>
    
	<!-- target spring bean cfg -->
	<!-- scope=request, scope=session, scope=application error -->
	<bean id="wmg" class="com.nt.beans.WishMessageGenerator" scope="prototype"> 
		<property name="date" ref="dt"/>
	</bean>
	
	<!-- target spring bean cfg -->
	<bean id="wmg1" class="com.nt.beans.WishMessageGenerator" scope="singleton" lazy-init="true">
		<property name="date" ref="dt"/>
	</bean>

	<bean id="p1" class="com.nt.beans.Printer" scope="prototype" factory-method="getInstance"/>

	<!-- <bean id="p1" class="com.nt.beans.Printer"/>
	<bean id="p2" class="com.nt.beans.Printer"/>
		 -->
		 
<!-- 	<bean id="p1" class="com.nt.beans.Printer" factory-method="getInstance"/>
	<bean id="p2" class="com.nt.beans.Printer" factory-method="getInstance"/> -->
</beans>